src/main/resources/xml/department.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="departmentType">
        <xs:all>
            <xs:element name="departmentName" type="xs:string"/>
            <xs:element name="course" type="xs:string"/>
        </xs:all>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
    <xs:element name="department" type="departmentType"/>
</xs:schema>