src/main/resources/xml/subject.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="subjectType">
        <xs:all>
            <xs:element name="subjectName" type="xs:string"/>
            <xs:element name="grade" type="xs:string"/>
        </xs:all>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
    <xs:element name="subject" type="subjectType"/>
</xs:schema>